* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #e9dddd;
  --red: #EF5350;
  --gold: #ffcc00;
  --blue: #1c5bab;
}

html {
  scroll-behavior: smooth;

  @media (max-width: 1000px) {
    font-size: 93.75%; // 15px
  }

  @media (max-width: 720px) {
    font-size: 87.5%; // 14px
  }
}

body {
  background: var(--background);
  font-family: "Roboto", sans-serif;

  #root {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }
}

main {
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
}

button {
  cursor: pointer;

  &:hover:not([disabled]) {
    filter: brightness(.9);
  }
}

[disabled] {
  filter: opacity(.6);
  cursor: not-allowed; 
}
